#odontograma_form .form-row ul{
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}

input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}

input[value="Caries1"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/c1.png);
    height: 100%;
    width: 30px;
}
input[value="Caries2"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/c2.png);
    height: 100%;
    width: 30px;
}
input[value="Caries3"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/c3.png);
    height: 100%;
    width: 30px;
}
input[value="Caries4"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/c4.png);
    height: 100%;
    width: 30px;
}
input[value="Caries5"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/c5.png);
    height: 100%;
    width: 30px;
}
input[value="Restauracion1"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/r1.png);
    height: 100%;
    width: 30px;
}
input[value="Restauracion2"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/r2.png);
    height: 100%;
    width: 30px;
}
input[value="Restauracion3"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/r3.png);
    height: 100%;
    width: 30px;
}
input[value="Restauracion4"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/r4.png);
    height: 100%;
    width: 30px;
}
input[value="Restauracion5"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/r5.png);
    height: 100%;
    width: 30px;
}
input[value="e"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/e.png);
    height: 100%;
    width: 30px;
}
input[value="N"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/N.png);
    height: 100%;
    width: 30px;
}
input[value="PL"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/PL.png);
    height: 100%;
    width: 30px;
}
input[value="P"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/P.png);
    height: 100%;
    width: 30px;
}
input[value="z"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/z.png);
    height: 100%;
    width: 30px;
}
input[value="d"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/d.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="g"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/g.png);
    height: 100%;
    width: 30px;
}
