#odontograma_form .form-row ul{
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}

input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}

input[value="Caries1"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/c1.png);
    height: 100%;
    width: 30px;
}
input[value="Caries2"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/c2.png);
    height: 100%;
    width: 30px;
}
input[value="Caries3"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/c3.png);
    height: 100%;
    width: 30px;
}
input[value="Caries4"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/c4.png);
    height: 100%;
    width: 30px;
}
input[value="Caries5"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/c5.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
input[value="Sano"] {
    content:url(https://netcot-cdn.netlify.app//bioral/odontogram_img/sano.png);
    height: 100%;
    width: 30px;
}
